<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1026218763900-s1lh4soiel3tm2frul8j1hnbdd72rv99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026218763900-s1lh4soiel3tm2frul8j1hnbdd72rv99</string>
	<key>API_KEY</key>
	<string>AIzaSyD2eIWkvGLj63IaynM42RAdvyxz37xihbk</string>
	<key>GCM_SENDER_ID</key>
	<string>1026218763900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.binus.FoodTime</string>
	<key>PROJECT_ID</key>
	<string>foodtime-48908</string>
	<key>STORAGE_BUCKET</key>
	<string>foodtime-48908.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026218763900:ios:bf01cd1f67924c16</string>
	<key>DATABASE_URL</key>
	<string>https://foodtime-48908.firebaseio.com</string>
</dict>
</plist>